$text: #2B2B2B;

.__dd__anim {
    opacity: 0;
    &.__dd__is--show {
        opacity: 1;
    }
}

.__dd {
    overflow: hidden;
    &__banner {
        background: $bg-dark;
        position: relative;
        &__inner {
            @extend .__dd__container;
            z-index: 10;
            position: relative;
        }
        &__block {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            justify-content: space-between;
            padding-top: 40px;
            padding-bottom: 80px;
            color: #fff;
        }
        &__logo {
            svg {
                fill: #fff;
            }
        }
        &__img {
            display: none;
        }
        &__title {
            h1 {
                font-weight: 800;
                font-size: 75px;
                line-height: 84px;
                text-transform: uppercase;
                margin: 0 0 80px 0;
            }
            padding: 30px 0;
        }
        &__info {
            display: flex;
            &__tags {
                ul {
                    display: flex;
                    margin: 0 -7px;
                    li {
                        padding: 0 7px;
                        font-weight: 300;
                        font-size: 18px;
                    }
                }
            }
            &__year {
                padding-left: 140px;
                font-weight: 300;
                font-size: 18px;
            }
        }
        &__mockup {
            position: absolute;
            right: 0;
            height: 100%;
            display: flex;
            align-items: center;
            top: 0;
            padding: 50px 0 50px 750px;
            z-index: 5;
            img {
                max-width: 100%;
                width: auto;
                height: auto;
                max-height: 100%;
            }
        }
    }
    &__block {
        &-one {
            &__list {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -15px;
                &__block {
                    max-width: 50%;
                    width: 100%;
                    padding: 0 15px;
                    &__title {
                        font-weight: 800;
                        font-size: 18px;
                        line-height: 20px;
                        color: $text;
                        margin-bottom: 15px;
                    }
                    &__desc {
                        max-width: 420px;
                        width: 100%;
                        font-weight: 300;
                        font-size: 18px;
                        color: $text;
                        line-height: 19px;
                    }
                }
            }
        }
        &-two {
            background-image: url(../../img/bg.png);
            background-repeat: no-repeat;
            background-position: 120% -100px;
            background-size: 55%;
            &__ba {
                &.animated {
                    .__dd__block-two__ba__block {
                        div {
                            animation: cocoen1 2s infinite ease-in-out;
                        }
                        .cocoen-drag {
                            animation: cocoen2 2s infinite ease-in-out;
                        }
                    }
                }
                &__inner {
                    overflow: hidden;
                    padding: 13px 0;
                }
                &__block {
                    position: relative;
                    max-width: 820px;
                    width: 100%;
                    margin: 0 auto;
                    img {
                        max-width: none;
                    }
                }
            }
        }
        &-four {
            background: #F3F3F3;
        }
        &-five {
            background: #1C1C1C;
            &__inner {
                padding-bottom: 300px;
            }
            &__phones {
                &__inner {
                    height: 500px;
                }
                &__blocks {
                    margin: 0 -55px;
                    display: flex;
                    transform: translateY(-50%);
                }
                &__block {
                    padding: 0 55px;
                    overflow: hidden;
                    &.is--b2 {
                        img {
                            padding-top: 190px;
                        }
                    }
                    &.is--b3 {
                        img {
                            padding-top: 115px;
                        }
                    }
                    &.is--b3 {
                        img {
                            padding-top: 55px;
                        }
                    }
                }
            }
        }
        &-six {
            background-image: url(../../img/bg2.png);
            background-repeat: no-repeat;
            background-position: -20% 38%;
            background-size: 40%;
        }
        &-eight {
            background: linear-gradient(270.89deg, #E2E2E2 1.46%, #F0F0F0 53.66%, #E0E0E0 99.66%), #C4C4C4;
            padding-top: 30px;
            &__top {
                text-align: center;
                margin-bottom: 30px;
                .__dd__heading {
                    margin-bottom: 0;
                    padding: 60px 0;
                }
            }
            &__mockup {
                text-align: center;
                img {
                    max-width: 80%;
                    margin: 0 auto;
                }
            }
        }
    }
    &__img {
        text-align: center;
        img {
            max-width: 1200px;
            width: 100%;
            margin: 0 auto;
        }
    }
}

@media (max-width: 1440px) {
    .__dd {
        &__block {
            &-five {
                &__phones {
                    &__block {
                        padding: 0 35px;
                    }
                    &__blocks {
                        margin: 0 -35px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .__dd {
        &__banner {
            &__title {
                h1 {
                    font-size: 45px;
                    line-height: 54px;
                }
            }
            &__mockup {
                padding-left: 480px;
            }
        }
        &__block {
            &-five {
                &__phones {
                    &__inner {
                        height: 290px;
                    }
                    &__blocks {
                        margin: 0 -20px;
                    }
                    &__block {
                        padding: 0 20px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .__dd {
        &__banner {
            &__block {
                padding-top: 30px;
                padding-bottom: 40px;
            }
            &__mockup {
                display: none;
            }
            &__info {
                flex-wrap: wrap;
                &__tags {
                    padding-bottom: 10px;
                    ul {
                        li {
                            font-size: 14px;
                        }
                    }
                }
                &__year {
                    font-size: 14px;
                    padding-left: 0;
                    width: 100%;
                }
            }
            &__img {
                display: block;
                padding-top: 30px;
                img {
                    display: block;
                }
            }
            &__title {
                margin-bottom: auto;
                h1 {
                    font-size: 26px;
                    line-height: 28px;
                    margin-bottom: 30px;
                    br {
                        display: none;
                    }
                }
            }
        }
        &__block {
            &-one {
                &__list {
                    &__block {
                        max-width: 100%;
                        margin-bottom: 30px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
            &-five {
                &__phones {
                    &__block {
                        &.is--b1,
                        &.is--b3,
                        &.is--b4 {
                            display: none;
                        }
                        img {
                            padding-top: 0 !important;
                        }
                        &.is--b2 {
                            margin: 0 auto 50px auto;
                        }
                    }
                }
            }
            &-eight {
                padding-top: 0;
            }
        }
    }
}